## Convert DBF to CSV

In [20]:
import csv
from dbfread import DBF

def dbf_to_csv(path):
    # Set the name of the CSV file
    csv_path = path[:-4] + ".csv"
    # Create a DBF object, i.e., load the .dbf file into the code 
    dbf = DBF(path)
    # Create a CSV file and fill it with dbf data
    with open(csv_path, 'w', newline = '') as f:
        # Create the CSV writer
        writer = csv.writer(f)
        # Write the CSV column names
        writer.writerow(dbf.field_names)
        # Write the CSV rows
        for record in dbf:
            writer.writerow(list(record.values()))
    return csv_path

filename = "yearly_deforestation_biome.dbf"
dbf_to_csv(filename)

'yearly_deforestation_biome.csv'

In [5]:
from pandas import read_csv
filename = 'yearly_deforestation_biome.csv'
df = read_csv(filename)
print(df.shape)
df.head(5)

(599819, 15)

,uid,state,path_row,main_class,class_name,def_cloud,julian_day,image_date,year,area_km,scene_id,source,satellite,sensor,uuid
0,636490,RR,23358,DESMATAMENTO,d2020,NaN,274.0,2020-09-30,2020,0.072367,566.0,NaN,NaN,NaN,db37698e-f685-426f-a173-1785d41add5c
1,658296,RR,23358,DESMATAMENTO,d2019,0.0,247.0,2019-09-04,2019,0.036413,138.0,NaN,NaN,NaN,1e9905ae-8bcc-4ecc-aed4-a7dc0f2aeb1f
2,722408,RR,158,DESMATAMENTO,d2018,NaN,203.0,2018-07-22,2018,0.064394,101256.0,NaN,NaN,NaN,538f2784-4939-4ef4-95f2-5189fa1a9559
3,722335,RR,158,DESMATAMENTO,d2018,2017.0,203.0,2018-07-22,2018,0.004822,101256.0,NaN,NaN,NaN,25172fb7-277d-4529-ad15-868c2cfa74c0
4,821841,RR,23358,DESMATAMENTO,d2010,0.0,190.0,2010-07-09,2010,0.058933,1206.0,NaN,NaN,NaN,057cbd2b-77ee-41e1-b180-958b6b331c3c